/seqptests/.vs
/seqptests/x64Debug
/seqptests/x64Release

/doubleptest/.vs
/doubleptest/x64Debug
/doubleptest/x64Release

/floatptest/.vs
/floatptest/x64Debug
/floatptest/x64Release

/u8ptest/.vs
/u8ptest/x64Debug
/u8ptest/x64Release

/u16ptest/.vs
/u16ptest/x64Debug
/u16ptest/x64Release

/u32ptest/.vs
/u32ptest/x64Debug
/u32ptest/x64Release

/u64ptest/.vs
/u64ptest/x64Debug
/u64ptest/x64Release